<!-- FOOTER -->
<footer class="footer">

    <!-- đăng ký -->
    <div class="newsletter">
        <span>Đăng ký nhận tin</span>
        <input type="text" placeholder="Nhập email...">
        <button>Đăng ký</button>

        <div class="social">
            <img src="assets/images/zalo.jpg">
            <img src="assets/images/shopee.jpg">
            <img src="assets/images/tiktok.jpg">
            <img src="assets/images/facebook.jpg">
        </div>
    </div>

    <!-- nội dung -->
    <div class="footer-content">

        <div>
            <h4>GIỚI THIỆU</h4>
            <p>Zsneak là shop bán giày chuyên cung cấp...</p>
            <p>Địa chỉ:</p>
            <p>SĐT:</p>
            <p>Email:</p>
        </div>

        <div>
            <h4>CHÍNH SÁCH</h4>
            <p>Chính sách bảo mật</p>
            <p>Chính sách thanh toán</p>
            <p>Chính sách vận chuyển</p>
            <p>Chính sách đổi trả</p>
        </div>

        <div>
            <h4>HƯỚNG DẪN</h4>
            <p>Hướng dẫn order</p>
            <p>Hướng dẫn mua hàng</p>
            <p>Liên hệ</p>
        </div>

    </div>

</footer>